<li>
<fieldset>
  <div class="control-group">
    <%= icon('resize-vertical', 'white') %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :position,  class: "hidden-position" %>
    <%= link_to icon("headphones", "white").html_safe, "#", :class => "add-audio-field" %>
    <%= link_to icon("camera","white").html_safe, "#", :class => "add-image-field" %>
    <%= link_to icon("film","white").html_safe, "#", :class => "add-video-field" %>

    <%= kaltura_video_player(f.object) %>
    <% if deletable_object?(f.object, 'video') %>
      <%= (link_to icon('times', 'white'),
           exercise_remove_video_path(f.object),
           :confirm => "Are you sure you want to delete this video file?",
           :method => :delete  unless f.object.video_url == f.object.video.default_url) %>
    <% end %>

    <%= kaltura_audio_player(f.object) %>
    <% if deletable_object?(f.object, 'audio') %>
      <%= (link_to icon('times', 'white'),
          exercise_remove_audio_path(f.object),
          :confirm => "Are you sure you want to delete this audio file?",
          :method => :delete  unless f.object.audio_url == f.object.audio.default_url) %>
    <% end %>

    <%= kaltura_image_display(f.object) %>
    <% if deletable_object?(f.object, 'image') %>
      <%= (link_to icon('times', 'white'),
          exercise_remove_image_path(f.object),
          :confirm => "Are you sure you want to delete this image file?",
          :method => :delete unless f.object.image_url == f.object.image.default_url) %>
    <% end %>

    <%= f.file_field :audio, :class => "hidden audio-upload-field upload-field" %>
    <%= f.file_field :image, :class => "hidden image-upload-field upload-field" %>
    <%= f.file_field :video, :class => "hidden video-upload-field upload-field" %>
    <%= f.text_area(:fill_in_the_blank, class: "fill-in-the-blank-field text-field", rows: "2") %>
    <%= f.hidden_field :_destroy %>
    <%= link_to icon("times", "white"), '#', class: "remove_fields" %>
  </div>
</fieldset>
</li>
