<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">OCILL</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Ocill Help", "http://lsa.umich.edu/lrc/" %></li>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
          <li><%= link_to "Support", "mailto:" + ENV["SUPPORT_EMAIL"] %></li>
          <li><%= link_to "Font Size Help", "http://help.aol.com/help/microsites/microsite.do?cmd=displayKC&externalId=217364" %></li>
        </ul>
      </div> <!-- nav-collapse -->
    </div> <!-- container -->
  </div> <!-- navbar-inner -->
</div>
