<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ocill</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= tinymce_assets %>
  <%= yield :more_javascripts %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">
  <% if !@remove_navigation %>
    <%= render 'layouts/header' %>
  <% elsif user_signed_in?  %>
    <div class="logout">
      <%= link_to('Logout?' , destroy_user_session_path, :method => :delete ) %>
      <%= link_to('Having trouble?', "#" ,{class: "help", title: "What is your problem?", data: { html: "true", toggle: "popover", content: '
        <p>If you experience difficulty using OCILL, please contact technical support at <a href="mailto:' + ENV["SUPPORT_EMAIL"] + '">' + ENV["SUPPORT_EMAIL"] + '</a></p>
        <p>In your message please include:
          <ol>
            <li>Screenshot(s) <a href="http://www.take-a-screenshot.org/" target="_blank">How do I take a screenshot?</a></li>
            <li>Describe:
              <ul>
                <li>what you did</li>
                <li>what you expected to happen</li>
                <li>what <em>actually</em> happened</li>
              </ul>
            </li>
            <li>Browser (Firefox, Chrome). Type of device (laptop, desktop, phone, tablet).  Operating system (Windows, Mac/Apple, Linux)</li>
            <li>Date and time it happened, as precisely as possible.</li>
          </ol>
        ', placement: "bottom" } } ) %>
    </div>
  <% end -%>
  <%= render 'layouts/messages' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <% unless @remove_navigation %>
      <div class="span4">
        <section id="sidebar">
          <% if current_user %>
          <ul id="nav-tree" >
            <%= cached_user_navigation %>
            <% if can? :create, Course %>
              <li>
              <%= link_to icon("plus") + " Add New Course", new_course_path %>
              </li>
            <% end %>
            </ul>
            <% else %>
              <%= render partial: 'layouts/guest_sidebar' %>
            <% end %>
          </section>
        </div>
      <% end -%>
      <div class="<%= @remove_navigation ? "span12" : "span8" %>">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
